@media(max-width:630px)
  .date
    font-size: 4em
  .info
    margin-bottom: 3.5em

@media(max-width:520px)
  main
    width: 100%
  figure
    margin-top: 3em
  .date
    font-size: 3em

@media(max-width:390px)
  .date
    font-size: 2.5em
  .info
    margin-top: 2.5em
    margin-bottom: 3em
  .pketh
    width: 4.2em
