body
	font-family: "adelle-sans", Helvetica, sans-serif
	font-weight: 600
	font-size: 100%
	background-color: black
	color: white

main
	width: 90%
	display: block
	margin-left: auto
	margin-right: auto

	// figure {

.date
	text-transform: uppercase
	font-size: 4em // (replace w calc? or mixin)

.refresh
	background-color: white
	color: black
	border-radius: 9px
	display: inline-block
	padding: 6px 10px
	font-size: 1em
	cursor: pointer
	border: none;
